<h1>All Notes</h1>

<ul class="index-list">
  <% @notes.each do |note| %>
    <li><a href="/lectures/<%= note.lecture.slug %>"><strong><%= note.lecture.title %></strong></a>  ~<%= note.content.split(" ").size %> word note by <%= note.user.learn_name %>.</li>
  <% end %>
</ul>
