<h1>Create an Account:</h1>

<form action="/users/<%= @user.learn_name %>" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" value="<%= @user.email %>">
  <br>
  <label for="learn_name">Your name on Learn-Co</label>
  <input type="text" name="learn_name" value="<%= @user.learn_name %>">
  <br>
  <input type="hidden" type="hidden" id="hidden" name="_method" value="PATCH">
  <input type="submit" name="submit" value="Edit">
</form>
